@import "variables";
@import 'normalize';

body, html {
    background-color: $background-grey;
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: $scrollbarWidth;
}
::-webkit-scrollbar-track {
    background: $scrollbarBg;
    border-radius: $scrollbarBorderRadius;
}
::-webkit-scrollbar-thumb {
    background-color: $scrollbarThumb;
    border-radius: $scrollbarBorderRadius;
    border: $scrollbarBorder;
}