$background-grey: #F5F6F8;
$main-black: #222222;
$main-blue: #176EF2;
$soft-blue: #E8F0FE;
$text-grey: #858585;
$main-blue-light: #DFE8F7;

$font-manrop: 'Manrope', sans-serif;
$main-avatar-border-radius: 30%;

$scrollbarBg: $background-grey;
$scrollbarThumb: $main-blue-light;
$scrollbarWidth: 12px;
$scrollbarBorder: 3px solid $scrollbarBg;
$scrollbarBorderRadius: calc($scrollbarWidth / 2);